@font-face {
    font-family: 'poppinsblack';
    src: url('/Landing_Page2/components/fonts/') format('woff2'),
         url('/Landing_Page2/components/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('/Landing_Page2/components/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('/Landing_Page2/components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinslight';
    src: url('/Landing_Page2/components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('/Landing_Page2/components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinsmedium';
    src: url('/Landing_Page2/components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('/Landing_Page2/components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsregular';
    src: url('/Landing_Page2/components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('/Landing_Page2/components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinssemibold';
    src: url('/Landing_Page2/components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('/Landing_Page2/components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  